<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxehwqSR1g4GRANp6ZtrkluvTzcXeK3fs</string>
	<key>GCM_SENDER_ID</key>
	<string>887574624635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zaracoach.zaraCoach</string>
	<key>PROJECT_ID</key>
	<string>zara-coach</string>
	<key>STORAGE_BUCKET</key>
	<string>zara-coach.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887574624635:ios:7883492624b9f7577be5de</string>
</dict>
</plist>